.balance-cards {
    display:flex;
    justify-content: space-between;
}

.card {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.card .icon {
    align-self: center;
    font-size:25px;
    transform: scale(1.5);
}

.content-page {
    padding-left: 40px
}