.MuiGrid-root {margin-top: 5px;margin-right: 20px;}
.MuiFormControlLabel-labelPlacementEnd {margin-left: 5px !important; color: #6e6e6e}
.menu-list {
  min-width: 250px;
  background: #f0efef;
  display: inline-block;
  height: 100vh;
}

.menu-list .arrow-right, .menu-list .arrow-left  {position: absolute; top:0; right:5px; z-index: 2;cursor: pointer;}
.arrow-right {transform: rotate(90deg);}
.arrow-left {
  transform: rotate(-90deg);
}
.list-item {
  cursor: pointer;
}

.list-item div {text-decoration: none;color:#6e6e6e;display: inline-block;}

.list-item.list-item-selected:hover div svg,
.list-item.list-item-selected:hover div span,
.list-item-selected div svg,
.list-item-selected div span {
  color: #689f38;
  fill: #689f38;
}

.link {text-decoration: none}

/* .list-item-disabled div svg, .list-item-disabled div span {
  color: #bababa;
  fill: #bababa;
} */